<h1>All items</h1>


<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-4">
    <div class="well">

            <p><a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
              <span class="glyphicon glyphicon-plus"></span> quick info
            </a></p>
            <p><strong> <%= number_to_currency product.price %> </strong></p>
            <p><%= product.name %></p>
            <div style ="height:150px;">
          <p><%= product.description %></p>
            </div>
            <p>Made by <%= product.brand %></p>
            <p>
              <%# product.rating.times do %>
                <!-- <span class="glyphicon glyphicon-star yellow"></span> -->
              <%# end %>
            </p>
    </div>
  </div>
  <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= product.name =%></h4>
      </div>
      <div class="modal-body">
        <p><%= product.price =%></p>
        <p><%= product.description =%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <!-- Delete those "Save Changes" and "Close" buttons that were here -->
    <p>
        <%= form_tag add_to_cart_path do %>
          <%= hidden_field_tag :product_id, product.id %>
      <%= number_field_tag :quantity, nil, placeholder: "How many?" %>
      <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
        <% end %>
    </p>
</div>
  <% end %>
</div>