<!DOCTYPE html>
<html>
<head>
  <title>Toriazon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <%= link_to "Toriazon", root_path, class: "navbar-brand" %>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-left">
	      	<!-- All -->
	      	<li><%= link_to "All Products", root_path %></li>
	        
	        <!-- By Category -->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find by Category <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <% Category.all.each do |cat| %>
	              <li><%= link_to cat.name, categorical_path(cat_id: cat.id) %></li>
	            <% end %>
	            <li><a href="all">All</a></li>
	          </ul>
	        </li>
​
          <!-- By Brand -->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find by Brand <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <% @brands.each do |brand| %>
	              <li><%= link_to brand, branding_path(brand: brand) %></li>
	            <% end %>
	            <li><a href="all">All</a></li>
	          </ul>
	        </li>        
	      	
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<% if user_signed_in? %>
		        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
		        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	        <% else %>
	        	<li><%= link_to "Sign Up",  new_user_registration_path %></li>
	    		<li><%= link_to "Forgot Password",  new_user_password_path %></li>
	        <% end %>
	      </ul>
	    </div>
	  </div>
	</nav>
​
​
<div class="container">
<%= yield %>
</div>
​
</body>
</html>
<%= yield %>
</div>
</body>
</html>
